<?xml version="1.0"?>
<launch>

    <param name="print_interval" value= "5" />

    <include file="$(find assignment_2_2022)/launch/assignment1.launch" />

    <node pkg="rt1_project_2" type="Node_A.py" name="Node_A" launch-prefix="gnome-terminal --command" />
    <node pkg="rt1_project_2" type="Node_B.py" name="Node_B" launch-prefix="gnome-terminal --command" />
    <node pkg="rt1_project_2" type="Node_C.py" name="Node_C" launch-prefix="gnome-terminal --command" />   
</launch>
